.grid-container {
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr;
    grid-template-areas:
            "header header header header"
            ". main main sidebar" 
            ". main main sidebar" 
            "footer footer footer footer";
}

header {
    grid-area: header;
    border: 2px red solid;
}

main { 
    grid-area: main;
    border: 2px black solid;
    padding: 2em;
}

main a {
    text-decoration: none;
    font-family: 'Rancho', cursive;
    font-size: 2rem;
    color: rgb(58, 58, 58);
}

.sidebar {
    grid-area: sidebar;
    border: 2px blue solid;
}

footer {
    grid-area: footer;
    border: 2px yellow solid;
}



